html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.logo {
  height: 30px;
  width: 30px;
  margin-left: 75px;
}
.logo:hover {
  animation: rotation 3s infinite linear;
  cursor: pointer;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.hero-image {
  background-image: url('./hero-image.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 900px;
  margin-left: 300px;
  display: flex;
}

.hero-btn {
  margin-top: 650px;
  margin-left: 540px;
}

.featGigs,
.featDjsTitle {
  margin-left: 20%;
  margin-top: 40px;
}
.featDjsTitle {
  margin-bottom: 0;
}

.cardSub {
  font-size: 14px;
  display: flex;
  justify-content: center;
}

.djs-hero-image {
  background-image: url('./djsheroimage.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 1000px;
  height: 700px;
  box-sizing: border-box;
  margin: auto;
}

.gigs-hero-image {
  background-image: url('./gigsheroimage.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 1000px;
  height: 700px;
  box-sizing: border-box;
  margin: auto;
}

.dj-searchbar {
  display: flex;
  justify-content: center;
}

#dj-search-input {
  height: 30px;
  width: 500px;
  border: 0;
  background: rgba(221, 220, 220, 0.616);
  padding: 3px 15px;
  border: 1px solid rgb(141, 141, 141);
  border-radius: 50px;
  outline: none;
}

.exploreDjs,
.exploreGigs {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.filterBy {
  color: rgb(116, 113, 113);
  padding: 5px;
  margin-top: 22px;
}

.explore-title {
  margin-right: 25px;
}

.slider {
  width: 100%;
  height: 1000px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.slide {
  min-width: 100%;
  height: 1000px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
}

#goLeft {
  position: absolute;
  left: 300px;
  width: 5%;
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

#goRight {
  position: absolute;
  right: 300px;
  width: 5%;
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.druiid-slide,
.graphyte-slide {
  display: flex;
  flex-direction: column;
}

.druiid-slide-img,
.graphyte-slide-img,
.center-affairs-img,
.gramps-img {
  margin-top: 0;
  width: 500px;
  height: 500px;
  margin: 0;
}
.slide-text {
  margin: 0;
  font-style: oblique;
  text-align: center;
  color: black;
  font-weight: bold;
}

.App {
  text-align: center;
  margin-top: 20px;
}

.top-dialog-form {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #252525;
  position: static;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

.footer-info {
  color: white;
  width: 70%;
  box-sizing: inherit;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.footer-column-1,
.footer-column-2,
.footer-column-3 {
  text-align: center;
  width: 20%;
}

.footer-column-4 {
  width: 100%;
  text-align: center;
}

.subscribe-footer {
  font-weight: 600;
}

.footer-input {
  width: 250px;
  padding: 10px;
}

.footer-submit {
  cursor: pointer;
  padding: 10px;
  margin-left: 5px;
  font-weight: 600;
}
.dj-card {
  box-sizing: border-box;
  margin: auto;
  width: 60%;
}
.pagination {
  display: flex;
  justify-content: center;
}

.profile-cover-img {
  margin: auto;
  width: 80%;
  height: 300px;
  box-sizing: border-box;
  position: relative;
}

.cover-img {
  box-sizing: inherit;
  margin: auto;
  width: 100%;
  height: 300px;
  z-index: -5;
  object-fit: cover;
}

.book-me-button {
  bottom: 0;
  right: 0;
  position: absolute;
  padding: 15px;
  z-index: 1;
  display: flex;
}

.user-avatar {
  border: rgba(144, 143, 137, 0.37) 1px solid;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  margin-left: 130px;
  margin-top: -250px;
  z-index: 1;
  position: relative;
  object-fit: cover;
}

.avatar-photo-icon {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 300px;
  z-index: 2;
  background-color: whitesmoke;
  border: cornsilk;
  border-radius: 50%;
}

.cover-img-icon {
  position: absolute;
  top: 0;
  right: 0;
  background-color: whitesmoke;
  border: cornsilk;
  border-radius: 50%;
}

.profile-block {
  padding-top: 30px;
  width: 80%;
  height: 800px;
  background-color: rgba(236, 229, 219, 0.39);
  box-sizing: border-box;
  margin: auto;
}
.profile-block-row {
  width: 100%;
  display: flex;
}
.profile-info-column {
  width: 30%;
  border-radius: 10%;
  background-color: white;
  border: rgba(144, 143, 137, 0.37) 1px solid;
  padding: 30px;
  position: relative;
  margin-top: 30px;
}

.edit-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
}

.profile-about-column {
  width: 100%;
  margin-left: 100px;
  border-radius: 5%/10%;
  padding: 20px;
  background-color: white;
  border: rgba(144, 143, 137, 0.37) 1px solid;
  position: relative;
  margin-top: 30px;
}

.commendations {
  text-align: center;
  font-style: oblique;
  font-weight: 500;
  margin-top: 50px;
}

.open-gigs-column {
  width: 100%;
  height: 500px;
  border-radius: 5%/20%;
  padding: 20px;
  background-color: white;
  border: rgba(144, 143, 137, 0.37) 1px solid;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 40px;
}

.findDjs-row-1 {
  display: flex;
}

.findDjs-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.venue-avatar {
  object-fit: contain;
}

.venue-card-img {
  position: relative;
}

.fab {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 5px;
  margin-right: 5px;
}
.venue-card {
  box-sizing: border-box;
  margin: auto;
  width: 75%;
}
.venue-cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.venue-card-button {
  display: flex;
  justify-content: center;
}

.center-affairs-img,
.gramps-img {
  margin-left: 40px;
}

.slide-link {
  color: black;
  display: flex;
  justify-content: center;
  font-weight: 500;
}

.signup-radio {
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.radio-button {
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.radio-prompt {
  margin-right: 8px;
}

.dj-card-link {
  margin-left: 100px;
}
